<style>
  /* Add this style block to your HTML file */
  .card {
    width: 15rem;
    height: 25rem;
   
  }
  .card-body {
    height: 120px; /* Set a fixed height for the card body */
  }

  .card-text {
    /* Limit description to two lines and add ellipsis if it overflows */
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 8px;
  }
  .card-img-top {
    object-fit: cover; /* Scale the image to cover the card */
    height: 17rem; /* Set a fixed height for the image */
  }
</style>
<section>
      <div class="container mt-5">
        <div class="row">
          {{#each products}}
          <div class="col-md-3 p-4">
            <div class="card ">
              <img
                class="card-img-top"
                src="/product-images/{{_id}}.jpg" 
                alt="Card image cap"
              />
              <div class="card-body p-1">
                <h5 class="card-title">{{this.Name}}</h5>
                <p class="card-text">Rs.{{this.Price}}</p>
                <p class="card-text">{{this.Description}}</p>
                
                <button onclick="addToCart('{{_id}}')" class="btn btn-primary">Add to Cart</button>
              </div>
            </div>

          </div>
           {{/each}}
          

        

          
        </div>
      </div>
    </section>
    <script>

    </script>
    
   